 <li data-row="2" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="temp_meter" data-view="Meter" data-title="Temperature" data-height="200" data-width="200" data-min="0" data-max="100" data-suffix="C" style="background-color:#00004C;"></div>
    </li>

    <li data-row="2" data-col="3" data-sizex="1" data-sizey="1">
      <div data-id="vol_meter" data-view="Meter" data-title="Volume" data-height="200" data-width="200" data-min="0" data-max="100" data-suffix="l" style="background-color:#00004C;"></div>
    </li>

    <li data-row="2" data-col="4" data-sizex="1" data-sizey="1">
      <div data-id="hum_meter" data-view="Meter" data-title="Humidity" data-height="200" data-width="200" data-min="0" data-max="100" data-suffix="%" style="background-color:#00004C;"></div>
    </li>





# </script>
<% content_for :title do %>Oil Tank Monitor<% end %>
<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="welcome" data-view="Text" data-title="Welcome Robert" data-text=""style="background-color:#0066ff;"></div>
    </li>

    <li data-row="1" data-col="3" data-sizex="1" data-sizey="1">
     <div data-id="iframe" data-view="Iframe"data-url="http://www.met.ie/widgets/3daysummary.asp" style="background-color:#00004C;">
    </li>

       <li data-row="1" data-col="2" data-sizex="1" data-sizey="1">
     <div data-id="picture" data-view="BigImage" data-image="/assets/importImage.png"data-moreinfo="Oil Tank Level" style="background-color:#0066ff;"></div>
    </li>

       <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="graphdata" data-view="List" data-unordered="true" data-title="" data-moreinfo=""style="background-color:#0066ff;"></div>
    </li>

      <li data-row="2" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="temp_meter" data-view="Temp_Meter" data-title="Temperature" data-height="150" data-width="150" data-min="0" data-max="100"data-suffix="C"style="background-color:#0066ff;" ></div>
    </li>

      <li data-row="2" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="vol_meter" data-view="Vol_Meter" data-title="Tank Volume" data-height="150" data-width="150" data-min="0" data-max="27"data-suffix="L"style="background-color:#0066ff;" ></div>
    </li>

      <li data-row="2" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="hum_meter" data-view="Hum_Meter" data-title="Humidity" data-height="150" data-width="150" data-min="0" data-max="100"data-suffix="%"style="background-color:#0066ff;" ></div>
    </li>

     <li data-row="3" data-col="1" data-sizex="3" data-sizey="1">
      <div data-id="graph" data-view="Graph" data-title="Oil Usage" style="background-color:#0066ff;"></div>
    </li>

    <li data-row="3" data-col="1" data-sizex="2" data-sizey="1">
     <div data-id="iframe2"data-title="Current Oil Prices" data-view="Iframe2"data-url="http://www.boilerjuice.ie/includes/echoPriceGraph.inc.php?d=183&s=XL&min=0&max=0&avg=1" style="background-color:#0066ff;">
    </li>
  </ul>
</div>

<h1 class="title" data-bind="title"></h1>

<input class="meter" data-angleOffset=-125 data-angleArc=250 data-bind-data-height="height | default 200" data-bind-data-width="width | default 200" data-readOnly=true data-bind-value="value | shortenedNumber | prepend prefix |
 append suffix" data-bind-data-min="min" data-bind-data-max="max">

<p class="more-info" data-bind="moreinfo"></p>

<p class="updated-at" data-bind="updatedAtMessage"></p>
// ----------------------------------------------------------------------------
// Sass declarations
// ----------------------------------------------------------------------------
$background-color:  #ec663c;

$title-color:       rgba(255, 255, 255, 0.7);
$moreinfo-color:    rgba(255, 255, 255, 0.7);

// ----------------------------------------------------------------------------
// Widget-text styles
// ----------------------------------------------------------------------------
.widget-text {

  background-color: $background-color;

  .title {
    color: $title-color;
  }

  .more-info {
    color: $moreinfo-color;
  }

  .updated-at {
    color: rgba(255, 255, 255, 0.7);
  }


  &.large h3 {
    font-size: 65px;
  }
}
<iframe src="http://www.met.ie/widgets/3daysummary.asp" style=" border-width:0 " width="134" height="222" frameborder="0" scrolling="no"></iframe>




