<% content_for :title do %>My Oil Monitor Dashboard<% end %>
<div class="gridster">
  <ul>


    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="welcome" data-view="Text" data-title="Hello Robert" data-text=""style="background-color:#00004C;"></div>
    </li>

     <li data-row="2" data-col="1" data-sizex="1" data-sizey="1">
      <div id="fontsizeID" data-id="yesterday" data-view="Text" data-title="Yesterday" data-text=""style="background-color:#00004C;"></div>
    </li>

      <li data-row="2" data-col="2" data-sizex="1" data-sizey="1">
      <div data-id="lastweek" data-view="Text" data-title="Last Week" data-text=""style="background-color:#00004C;"></div>
    </li>


      <li data-row="2" data-col="3" data-sizex="1" data-sizey="1">
      <div data-id="costs" data-view="Text" data-title="Costs" data-text=""style="background-color:#00004C;"></div>
    </li>


      <li data-row="3" data-col="4" data-sizex="2" data-sizey="1">
      <div data-id="hum_meter" data-view="Meter" data-title="Humidity" data-height="200" data-width="200" data-min="0" data-max="100" data-suffix="%" style="background-color:#00004C;"></div>
    </li>

      <li data-row="1" data-col="3" data-sizex="1" data-sizey="1">
      <div data-id="iframeId1" data-view="Iframe"style="background-color:#00004C;"></div>
    </li>

     <li data-row="1" data-col="5" data-sizex="2" data-sizey="2">
      <div data-id="moroil" data-view="Text" data-title="Local Oil Prices"data-text=""style="background-color:#00004C;"></div>
    </li>

      <li data-row="1" data-col="2" data-sizex="1" data-sizey="1">
       <div data-id="picture" data-view="BigImage" data-image="/assets/importImage.png"style="background-color:#00004C;"data-moreinfo="Oil Tank Level"data-max="true"></div>
     </li>
     <li data-row="3" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="vol_meter" data-view="Meter" data-title="Volume" data-height="200" data-width="200" data-min="0" data-max="28" data-suffix="L" style="background-color:#00004C;"></div>
    </li>


      <li data-row="3" data-col="3" data-sizex="1" data-sizey="1">
      <div data-id="temp_meter" data-view="Meter" data-title="Temperature" data-height="200" data-width="200" data-min="0" data-max="40" data-suffix="C" style="background-color:#00004C;"></div>
    </li>

 </ul>
</div>

